body { background-color: grey; }
<style>
ul {
  list-style-type: none;
  border: 2px solid #555;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #3399FF;
}

li a {
  display: block;
  border-bottom: 2px solid #555;
  color: #F2F2F2;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #0033CC;
  color: #F2F2F2;
}

li a:hover:not(.active) {
  background-color: #00CCFF;
  color: #0000CC;
}
</style>